.todo-list-parent {
    text-align: center;
}

.todo-item{
    display: flex;
    width: 500px;
    margin: 0 auto 10px;
    align-items: center;
}

.todo-item-card{
    width: 450px;
    margin: 0 auto 10px;
}

.todo-generator{
    display: flex;
    width: 300px;
    margin: 0 auto;
    gap: 20px;
}

